<div class="content">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li>Surveys</li>
                </ul>
                <!-- END BREADCRUMB -->
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->

        <h1>Customer surveys</h1>
        <table class="table">
            <tr>
                <th>Survey name</th>
                <th>Survey Date</th>
                <th>Responses</th>
                <th></th>
            </tr>

            <tr data-id="1" data-model="order">
                <td>Customer Satisfaction Survey</td>
                <td>20.10.2016</td>
                <td>25</td>
                <td>
                    <!-- a href="/survey/responses/1" class="btn btn-sm btn-primary btn-cons pull-right">View responses</a -->
                    <a href="https://app2.survease.com/index.php?r=survey/index/sid/554168/lang/en" target="_blank"
                       class="btn btn-sm btn-primary btn-cons pull-right">Preview Survey</a>
                    <a href="/survey/1" class="btn btn-sm btn-primary btn-cons pull-right">View repots</a>
                </td>
            </tr>
        </table>

        <h1>Marketing Surveys</h1>
        <table class="table">
            <tr>
                <th>Survey name</th>
                <th>Survey Date</th>
                <th>Responses</th>
                <th></th>
            </tr>

            <tr data-id="1" data-model="order">
                <td>Marketing Survey</td>
                <td>20.10.2016</td>
                <td>25</td>
                <td>
                    <!-- a href="/survey/responses/1" class="btn btn-sm btn-primary btn-cons pull-right">View responses</a -->
                    <a href="/survey/show/1" class="btn btn-sm btn-primary btn-cons pull-right">View repots</a>
                </td>
            </tr>

            <tr data-id="1" data-model="order">
                <td>Market Research Survey</td>
                <td>20.10.2016</td>
                <td>25</td>
                <td>
                    <!-- a href="/survey/responses/1" class="btn btn-sm btn-primary btn-cons pull-right">View responses</a -->
                    <a href="/survey/show/1" class="btn btn-sm btn-primary btn-cons pull-right">View repots</a>
                </td>
            </tr>

        </table>

        <h1>Employee Surveys</h1>
        <table class="table">
            <tr>
                <th>Survey name</th>
                <th>Survey Date</th>
                <th>Responses</th>
                <th></th>
            </tr>

            <tr data-id="1" data-model="order">
                <td>Employee Satisfaction Survey</td>
                <td>20.10.2016</td>
                <td>25</td>
                <td>
                    <!-- a href="/survey/responses/1" class="btn btn-sm btn-primary btn-cons pull-right">View responses</a -->
                    <a href="/survey/show/1" class="btn btn-sm btn-primary btn-cons pull-right">View repots</a>
                </td>
            </tr>
        </table>
        <!-- END PLACE PAGE CONTENT HERE -->
    </div>
    <!-- END CONTAINER FLUID -->
</div>